/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Secciones */
.seccion {
    padding: 60px 20px;
    text-align: center;
}

#inicio {
    background-color: #F0FFF5;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* centra verticalmente */
    align-items: center;      /* centra horizontalmente */
    text-align: center;       /* centra el texto */
    padding: 20px;
}
.boton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #005fab;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tarjeta {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form input,
form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #005fab;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
